        @import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500|Open+Sans:300,400,500,600,700,800,900,1100');
        body,
        html {
            font-family: "open sans";
            color: rgb(82, 82, 82);
            height: 100%;
            margin: 0;
        }
        /*------------------------------------------Header-----*/
        
        .nav-item {
            line-height: 60px;
        }
        
        .nav-link {
            letter-spacing: 3px;
            margin-right: 0px;
            color: inherit;
        }
        
        .nav-link:hover {
            color: #A64650;
        }
        
        h2 {
            color: #A64650;
            font-size: 42px;
        }
        
        .hero-text {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            font-family: "open sans";
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: center;
            align-content: inherit;
            top: 54%;
            width: 50%;
            height: auto;
            scale: auto;
            color: rgb(82, 82, 82);
        }
        
        #logo {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            align-content: inherit;
            top: 18%;
            width: 20%;
            height: auto;
            scale: auto;
        }
        /*------------------------------------------About-----*/
        
        h3 {
            color: #A64650;
            font-size: 42px;
            padding-left: 10px;
        }
        
        .info {
            padding-top: 30px;
            padding-left: 30px;
            line-height: 30px;
            font-size: 22px;
        }
        
        .info .key,
        .info .value {
            position: inherit;
            display: inline-block;
        }
        
        .key {
            font-weight: 900;
        }
        
        .cv-download {
            padding-left: 30px;
            width: auto;
            height: 50px;
        }
        /*------------------------------percentage skills-----*/
        
        .circular-chart {
            max-width: 80%;
            max-height: 250px;
            margin-right: 0;
            margin-left: 0;
        }
        
        .circle {
            stroke: #A64650;
            fill: none;
            stroke-width: 3;
            stroke-linecap: round;
            animation: progress 5s ease-out forwards;
        }
        
        @keyframes progress {
            0% {
                stroke-dasharray: 0 100;
            }
        }
        
        .percentage {
            font-size: 8px;
            text-anchor: middle;
        }
        /*------------------------------------------Services----*/
        
        .services {
            background-color: rgb(143, 143, 143);
            height: 400px;
            color: #fafafa;
            padding: 30px 0 0 10px;
            text-align: center;
            margin: 2px;
        }
        /*------------------------------------------portfolio----*/
        /*------------------------------------------contact----*/
        
        .contact {
            background-color: #A64650;
            height: 600px;
        }
        /*------------------------------------------Footer----*/
        
        footer {
            background-color: rgb(143, 143, 143);
            height: 150px;
        }
        
        .social {
            text-align: center;
        }
        
        .social li {
            display: inline;
        }
        
        .social i {
            font-size: 160%;
            margin: 1%;
            padding: 30px;
            color: #fafafa;
        }
        /*------------media--------*/
        
        @media (min-width:600px) {
            #hero-image {
                height: 1200px;
                width: 100%;
                background: url("../images/hero-image02.jpg") no-repeat center center;
            }
        }
        
        @media (min-width:600px) {
            #about {
                background: url("../images/about section.jpg") no-repeat center center;
                background-size: cover;
                height: 1200px;
                width: 100%;
            }
        }
        
        @media(min-width:600px) {
            #portfolio {
                size: 10%;
            }
        }