        @import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500|Open+Sans:300,400,500,600,700,800,900,1100');
        body,
        html {
            font-family: "open sans";
            color: rgb(82, 82, 82);
            height: 100%;
            width: 100%;
            margin: 0;
        }
        /*------------------------------------------Header-----*/
        
        .nav-item {
            line-height: 60px;
        }
        
        .nav-link {
            letter-spacing: 3px;
            margin-right: 0px;
            color: inherit;
        }
        
        .nav-link:hover {
            color: #A64650;
        }
        
        .intro {
            color: #A64650;
            font-size: 42px;
            font-weight: 400;
        }
        
        h1 {
            font-size: 64px;
        }
        
        .hero-text {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            font-family: "open sans";
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: center;
            align-content: inherit;
            top: 54%;
            width: 50%;
            height: auto;
            scale: auto;
            color: rgb(82, 82, 82);
        }
        
        #logo {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 18%;
            max-width: none;
        }
        /*------------------------------------------About-----*/
        
        #about {
            max-height: none;
        }
        
        h3 {
            color: #A64650;
            font-size: 42px;
            padding-left: 10px;
        }
        
        .info {
            padding-top: 30px;
            padding-left: 30px;
            line-height: 30px;
            font-size: 22px;
        }
        
        .info .key,
        .info .value {
            position: inherit;
            display: inline-block;
        }
        
        .key {
            font-weight: 900;
        }
        /*------------------------------------------Skills----*/
        
        .skills {
            padding: 30px 50px 50px 10px;
        }
        
        .progress {
            margin-top: 20px;
            margin-left: 30px;
        }
        
        h6 {
            margin-left: 30px;
            margin-top: 20px;
            margin-bottom: 5px;
            font-size: 22px;
        }
        
        .cv-download {
            position: absolute;
            margin-top: 50px;
            margin-left: 30px;
            height: 50px;
            width: auto;
        }
        /*------------------------------------------portfolio----*/
        
        h2 {
            margin-top: 150px;
            margin-left: 30px;
            font-size: 42px;
            font-weight: 900;
            font-family: montserrat;
        }
        
        .float-sm-left {
            width: 25%;
        }
        
        .quote {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            font-family: "montserrat";
            font-size: 45px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: center;
            top: 384%;
            width: 30%;
            color: #A64650;
        }
        /*------------------------------------------contact----*/
        
        h4 {
            font-family: Montserrat;
            margin-top: 30px;
            margin-left: 35px;
            margin-bottom: 20px;
            font-size: 42px;
            font-weight: 900;
            ;
        }
        
        form {
            font-family: Montserrat;
            margin-left: 20px;
        }
        
        .submit,
        .btn {
            margin-top: 20px;
            margin-left: 10px;
            margin-bottom: 20px;
            width: auto;
        }
        /*------------------------------------------Footer----*/
        
        footer {
            background-color: #A64650;
            height: 150px;
        }
        
        .social {
            text-align: center;
        }
        
        .social li {
            display: inline;
        }
        
        .social i {
            font-size: 160%;
            margin: 1%;
            padding: 30px;
            color: #fafafa;
        }
        /*------------media--------*/
        
        @media (min-width:600px) {
            #hero-image {
                height: 1200px;
                width: 100%;
                background: url("../images/hero-image03.jpg") no-repeat center center;
                background-attachment: fixed;
            }
        }
        
        @media (min-width:600px) {
            #about {
                max-width: 110%;
                height: auto;
                background: url("../images/about section.jpg") no-repeat center center;
                background-size: cover;
                overflow: hidden;
            }
        }
        
        @media (min-width:600px) {
            container-lg {
                max-width: 200%;
                height: auto;
            }
        }
        
        @media (min-width:600px) {
            #contact {
                height: 900px;
                width: 100%;
                background: url("../images/Contact backing.jpg") no-repeat center center;
                background-attachment: fixed;
                padding-bottom: 20px;
            }
        }